name: Fetch ICON-EU-EPS GRIB2 and Generate PNGs

on:
  workflow_dispatch:

jobs:
  fetch_and_generate:
    runs-on: ubuntu-latest
    outputs:
      run: ${{ steps.set_run_date.outputs.run }}

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.EU_PAT }}

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'


      - name: Cache Python packages
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      
      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Set RUN and DATE
        id: set_run_date
        run: |
          HOUR=$(date -u +%H)
          case $HOUR in
            03|04|05) RUN=00 ;;
            09|10|11|13) RUN=06 ;;
            15|16|17) RUN=12 ;;
            21|22|23) RUN=18 ;;
          esac
          DATE=$(date -u +%Y%m%d)
          # set env variables
          echo "RUN=$RUN" >> $GITHUB_ENV
          echo "DATE=$DATE" >> $GITHUB_ENV
          # set step output for job output
          echo "run=$RUN" >> $GITHUB_OUTPUT

      - name: Download ICON unstructured grid
        run: |
          mkdir -p data/grid
          wget -q http://icon-downloads.mpimet.mpg.de/grids/public/edzw/icon_grid_0037_R03B07_N02.nc -O data/grid/grid.nc
          echo "✅ ICON grid heruntergeladen"

      - name: Download t2m GRIB2 files
        run: |
          mkdir -p data/t2m
          cd data/t2m
          seq 0 47 | xargs -n 1 -P 12 -I{} bash -c '
            i_padded=$(printf "%03d" {})
            URL="https://opendata.dwd.de/weather/nwp/icon-eu-eps/grib/${{ env.RUN }}/t_2m/icon-eu-eps_europe_icosahedral_single-level_${{ env.DATE }}${{ env.RUN }}_${i_padded}_t_2m.grib2.bz2"
            wget -O t2m_${i_padded}.grib2.bz2 "$URL" || echo "Datei $URL nicht verfügbar, überspringe..."
            if [ -f "t2m_${i_padded}.grib2.bz2" ]; then
              bunzip2 -f t2m_${i_padded}.grib2.bz2
            fi
          '

          seq 48 3 72 | xargs -n 1 -P 12 -I{} bash -c '
            i_padded=$(printf "%03d" {})
            URL="https://opendata.dwd.de/weather/nwp/icon-eu-eps/grib/${{ env.RUN }}/t_2m/icon-eu-eps_europe_icosahedral_single-level_${{ env.DATE }}${{ env.RUN }}_${i_padded}_t_2m.grib2.bz2"
            wget -O t2m_${i_padded}.grib2.bz2 "$URL" || echo "Datei $URL nicht verfügbar, überspringe..."
            if [ -f "t2m_${i_padded}.grib2.bz2" ]; then
              bunzip2 -f t2m_${i_padded}.grib2.bz2
            fi
          '

          seq 78 6 120 | xargs -n 1 -P 12 -I{} bash -c '
            i_padded=$(printf "%03d" {})
            URL="https://opendata.dwd.de/weather/nwp/icon-eu-eps/grib/${{ env.RUN }}/t_2m/icon-eu-eps_europe_icosahedral_single-level_${{ env.DATE }}${{ env.RUN }}_${i_padded}_t_2m.grib2.bz2"
            wget -O t2m_${i_padded}.grib2.bz2 "$URL" || echo "Datei $URL nicht verfügbar, überspringe..."
            if [ -f "t2m_${i_padded}.grib2.bz2" ]; then
              bunzip2 -f t2m_${i_padded}.grib2.bz2
            fi

      - name: Download tp GRIB2 files
        run: |
          mkdir -p data/tp
          cd data/tp
          seq 0 47 | xargs -n 1 -P 12 -I{} bash -c '
            i_padded=$(printf "%03d" {})
            URL="https://opendata.dwd.de/weather/nwp/icon-eu-eps/grib/${{ env.RUN }}/tot_prec/icon-eu-eps_europe_icosahedral_single-level_${{ env.DATE }}${{ env.RUN }}_${i_padded}_tot_prec.grib2.bz2"
            wget -O tp_${i_padded}.grib2.bz2 "$URL" || echo "Datei $URL nicht verfügbar, überspringe..."
            if [ -f "tp_${i_padded}.grib2.bz2" ]; then
              bunzip2 -f tp_${i_padded}.grib2.bz2
            fi
          '

          seq 48 3 72 | xargs -n 1 -P 12 -I{} bash -c '
            i_padded=$(printf "%03d" {})
            URL="https://opendata.dwd.de/weather/nwp/icon-eu-eps/grib/${{ env.RUN }}/tot_prec/icon-eu-eps_europe_icosahedral_single-level_${{ env.DATE }}${{ env.RUN }}_${i_padded}_tot_prec.grib2.bz2"
            wget -O tp_${i_padded}.grib2.bz2 "$URL" || echo "Datei $URL nicht verfügbar, überspringe..."
            if [ -f "tp_${i_padded}.grib2.bz2" ]; then
              bunzip2 -f tp_${i_padded}.grib2.bz2
            fi
          '

          seq 78 6 120 | xargs -n 1 -P 12 -I{} bash -c '
            i_padded=$(printf "%03d" {})
            URL="https://opendata.dwd.de/weather/nwp/icon-eu-eps/grib/${{ env.RUN }}/tot_prec/icon-eu-eps_europe_icosahedral_single-level_${{ env.DATE }}${{ env.RUN }}_${i_padded}_tot_prec.grib2.bz2"
            wget -O tp_${i_padded}.grib2.bz2 "$URL" || echo "Datei $URL nicht verfügbar, überspringe..."
            if [ -f "tp_${i_padded}.grib2.bz2" ]; then
              bunzip2 -f tp_${i_padded}.grib2.bz2
            fi
          '

      - name: Download wind GRIB2 files
        run: |
          mkdir -p data/wind
          cd data/wind
          seq 1 47 | xargs -n 1 -P 12 -I{} bash -c '
            i_padded=$(printf "%03d" {})
            URL="https://opendata.dwd.de/weather/nwp/icon-eu-eps/grib/${{ env.RUN }}/vmax_10m/icon-eu-eps_europe_icosahedral_single-level_${{ env.DATE }}${{ env.RUN }}_${i_padded}_vmax_10m.grib2.bz2"
            wget -O wind_${i_padded}.grib2.bz2 "$URL" || echo "Datei $URL nicht verfügbar, überspringe..."
            if [ -f "wind_${i_padded}.grib2.bz2" ]; then
              bunzip2 -f wind_${i_padded}.grib2.bz2
            fi
          '

          seq 48 3 72 | xargs -n 1 -P 12 -I{} bash -c '
            i_padded=$(printf "%03d" {})
            URL="https://opendata.dwd.de/weather/nwp/icon-eu-eps/grib/${{ env.RUN }}/vmax_10m/icon-eu-eps_europe_icosahedral_single-level_${{ env.DATE }}${{ env.RUN }}_${i_padded}_vmax_10m.grib2.bz2"
            wget -O wind_${i_padded}.grib2.bz2 "$URL" || echo "Datei $URL nicht verfügbar, überspringe..."
            if [ -f "wind_${i_padded}.grib2.bz2" ]; then
              bunzip2 -f wind_${i_padded}.grib2.bz2
            fi
          '

          seq 78 6 120 | xargs -n 1 -P 12 -I{} bash -c '
            i_padded=$(printf "%03d" {})
            URL="https://opendata.dwd.de/weather/nwp/icon-eu-eps/grib/${{ env.RUN }}/vmax_10m/icon-eu-eps_europe_icosahedral_single-level_${{ env.DATE }}${{ env.RUN }}_${i_padded}_vmax_10m.grib2.bz2"
            wget -O wind_${i_padded}.grib2.bz2 "$URL" || echo "Datei $URL nicht verfügbar, überspringe..."
            if [ -f "wind_${i_padded}.grib2.bz2" ]; then
              bunzip2 -f wind_${i_padded}.grib2.bz2
            fi
          '

      - name: Upload T2M GRIB2 as artifact
        uses: actions/upload-artifact@v4
        with:
          name: grib2-t2m
          path: data/t2m/

      - name: Upload TP GRIB2 as artifact
        uses: actions/upload-artifact@v4
        with:
          name: grib2-tp
          path: data/tp/

      - name: Upload WIND GRIB2 as artifact
        uses: actions/upload-artifact@v4
        with:
          name: grib2-wind
          path: data/wind/

      - name: Upload grid file as artifact
        uses: actions/upload-artifact@v4
        with:
          name: grid
          path: data/grid/


      - name: Delete GRIB2 files (local cleanup)
        run: rm -rf data/


  generate_pngs:
    runs-on: ubuntu-latest
    needs: fetch_and_generate
    strategy:
      matrix:
        variable: [temp30, temp20, temp0, temp30_eu, temp20_eu, temp0_eu, tp10, tp30, tp100, tp10_eu, tp30_eu, tp100_eu, wind60, wind90, wind120, wind60_eu, wind90_eu, wind120_eu]
      max-parallel: 18
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Determine artifact name for ${{ matrix.variable }}
        run: |
          if [[ "${{ matrix.variable }}" == temp* ]]; then
            echo "ARTIFACT_NAME=grib2-t2m" >> $GITHUB_ENV
          elif [[ "${{ matrix.variable }}" == tp* ]]; then
            echo "ARTIFACT_NAME=grib2-tp" >> $GITHUB_ENV
          elif [[ "${{ matrix.variable }}" == wind* ]]; then
            echo "ARTIFACT_NAME=grib2-wind" >> $GITHUB_ENV
          fi

      - name: Determine input folder
        run: |
          if [[ "${{ matrix.variable }}" == temp* ]]; then
            echo "INPUT_DIR=data/t2m" >> $GITHUB_ENV
          elif [[ "${{ matrix.variable }}" == tp* ]]; then
            echo "INPUT_DIR=data/tp" >> $GITHUB_ENV
          elif [[ "${{ matrix.variable }}" == wind* ]]; then
            echo "INPUT_DIR=data/wind" >> $GITHUB_ENV
          fi


      - name: Download GRIB2 artifact for ${{ matrix.variable }}
        uses: actions/download-artifact@v4
        with:
          path: ${{ env.INPUT_DIR }}
          name: ${{ env.ARTIFACT_NAME }}

      - name: Download grid artifact
        uses: actions/download-artifact@v4
        with:
          path: data/grid/
          name: grid


      - name: Generate PNGs for ${{ matrix.variable }}
        run: |
          mkdir -p iconeueps/${{ matrix.variable }}
          input_dir="data/${{ matrix.variable }}"
          if [ "${{ matrix.variable }}" = "temp30" ]; then
            input_dir="data/t2m"
          elif [ "${{ matrix.variable }}" = "temp20" ]; then
            input_dir="data/t2m"
          elif [ "${{ matrix.variable }}" = "temp0" ]; then
            input_dir="data/t2m"
          elif [ "${{ matrix.variable }}" = "temp30_eu" ]; then
            input_dir="data/t2m"
          elif [ "${{ matrix.variable }}" = "temp20_eu" ]; then
            input_dir="data/t2m"
          elif [ "${{ matrix.variable }}" = "temp0_eu" ]; then
            input_dir="data/t2m"
          elif [ "${{ matrix.variable }}" = "tp10" ]; then
            input_dir="data/tp"
          elif [ "${{ matrix.variable }}" = "tp30" ]; then
            input_dir="data/tp"  
          elif [ "${{ matrix.variable }}" = "tp100" ]; then
            input_dir="data/tp"
          elif [ "${{ matrix.variable }}" = "tp10_eu" ]; then
            input_dir="data/tp"
          elif [ "${{ matrix.variable }}" = "tp30_eu" ]; then
            input_dir="data/tp"  
          elif [ "${{ matrix.variable }}" = "tp100_eu" ]; then
            input_dir="data/tp"
          elif [ "${{ matrix.variable }}" = "wind60" ]; then
            input_dir="data/wind" 
          elif [ "${{ matrix.variable }}" = "wind90" ]; then
            input_dir="data/wind"
          elif [ "${{ matrix.variable }}" = "wind120" ]; then
            input_dir="data/wind"
          elif [ "${{ matrix.variable }}" = "wind60_eu" ]; then
            input_dir="data/wind" 
          elif [ "${{ matrix.variable }}" = "wind90_eu" ]; then
            input_dir="data/wind"
          elif [ "${{ matrix.variable }}" = "wind120_eu" ]; then
            input_dir="data/wind"
          fi
          python scripts/generate_pngs.py \
            "$input_dir" \
            iconeueps/${{ matrix.variable }} \
            ${{ matrix.variable }} \
            data/grid/grid.nc


      - name: Upload PNGs artifact
        uses: actions/upload-artifact@v4
        with:
          name: iconeueps-${{ matrix.variable }}
          path: iconeueps/${{ matrix.variable }}

  deploy_to_r2:
    runs-on: ubuntu-latest
    needs: [fetch_and_generate, generate_pngs]
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Download all PNGs artifact
        uses: actions/download-artifact@v4
        with:
          pattern: iconeueps-*
          path: iconeueps_raw

      - name: Merge PNG folders into one structure
        run: |
          mkdir -p iconeueps/${{ needs.fetch_and_generate.outputs.run }}
          for d in iconeueps_raw/*; do
            if [ -d "$d" ]; then
              varname=$(basename "$d" | sed 's/^iconeueps-//')  # entfernt "iconeueps-" Prefix
              mkdir -p iconeueps/${{ needs.fetch_and_generate.outputs.run }}/"$varname"
              cp -r "$d"/* iconeueps/${{ needs.fetch_and_generate.outputs.run }}/"$varname"/ || true
            fi
          done

      - name: Generate Metadata
        run: |
          python scripts/generate_metadata.py iconeueps/${{ needs.fetch_and_generate.outputs.run }} ${{ needs.fetch_and_generate.outputs.run }} ${{ env.DATE }}

      - name: Clean old runs on R2 except current
        run: |
          for run_folder in $(aws s3 ls s3://${{ secrets.R2_BUCKET }}/icon-eu-eps/ --endpoint-url https://${{ secrets.R2_ACCOUNT_ID }}.r2.cloudflarestorage.com | awk '{print $2}' | sed 's#/##'); do
            if [ "$run_folder" != "${{ needs.fetch_and_generate.outputs.run }}/" ]; then
              aws s3 rm s3://${{ secrets.R2_BUCKET }}/icon-eu-eps/$run_folder --recursive --endpoint-url https://${{ secrets.R2_ACCOUNT_ID }}.r2.cloudflarestorage.com
            fi
          done
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.R2_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.R2_SECRET_ACCESS_KEY }}

      - name: Upload current run and metadata.json to R2
        run: |
          # Upload run folder
          aws s3 sync ./iconeueps/${{ needs.fetch_and_generate.outputs.run }}/ s3://${{ secrets.R2_BUCKET }}/icon-eu-eps/${{ needs.fetch_and_generate.outputs.run }}/ \
            --endpoint-url https://${{ secrets.R2_ACCOUNT_ID }}.r2.cloudflarestorage.com

          # Upload metadata.json outside run folder
          aws s3 cp ./iconeueps/metadata.json s3://${{ secrets.R2_BUCKET }}/icon-eu-eps/metadata.json \
            --endpoint-url https://${{ secrets.R2_ACCOUNT_ID }}.r2.cloudflarestorage.com
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.R2_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.R2_SECRET_ACCESS_KEY }}
